<ion-content>
<div class="login-section ion-padding">
  <div class="heading ion-padding">
    <ion-icon class="main-logo" id="car-logo" name="car-outline"></ion-icon>
    <b>Car Rental</b>
  </div>
  <h2><b class="login-logo">Register</b></h2>
  <div class="input-item" style="margin-bottom: 15px;">
    <ion-label style="color: #004d40; margin-left: 10px;">Full Name</ion-label>
    <ion-input type="text"></ion-input>
  </div>
  <div class="input-item" style="margin-bottom: 15px;">
    <ion-label style="color: #004d40; margin-left: 10px;">Email</ion-label>
    <ion-input type="email"></ion-input>
  </div>
  <div class="input-item" style="margin-bottom: 15px;">
    <ion-label style="color: #004d40; margin-left: 10px;">Mobile Number</ion-label>
    <ion-input type="number"></ion-input>
  </div>
  <div class="input-item" style="margin-bottom: 15px;">
    <ion-label style="color: #004d40; margin-left: 10px;">Create Pasword</ion-label>
    <ion-input type="password"></ion-input>
  </div>
  <div class="input-item">
    <ion-label style="color: #004d40; margin-left: 10px;">Confirm Password</ion-label>
    <ion-input type="password"></ion-input>
  </div>
  <!-- <ion-item>
    <ion-label position="floating">Username</ion-label>
  <ion-input placeholder="Enter your username">
    <ion-icon name="person" slot="start"></ion-icon>
  </ion-input>
</ion-item> -->
</div>
<input type="checkbox" style="margin-left: 18px; border: 6px solid #004d40; font-size: 22em;"/>
<span style="color: #004d40; margin-left: 8px">by creating an account you agree to our terms &nbsp; and conditions and privacy policy</span> 
<ion-button expand="full">Registerzzzzzzzzz</ion-button>
</ion-content>
