<ion-content class="ion-padding">
    <ion-header>
      <ion-icon class="main-logo" id="car-logo" name="car-outline"></ion-icon>
      <b>Car Rental</b>
    </ion-header>
    <h2><b class="login-logo">Login</b></h2>
    <div class="ion-padding login-page" >
        <ion-card class="custom-card">
          <ion-icon name="mail-outline" class="custom-icon"></ion-icon>
          <ion-label position="floating" class="custom-label">Email</ion-label>
          <ion-input class="custom-input"></ion-input>
        </ion-card>

        <ion-card class="custom-card">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-label position="floating" class="custom-label">Password</ion-label>
          <ion-input class="custom-input"></ion-input>
        </ion-card>

    </div>
  
    <div>
    <!-- <ion-checkbox slot="start" style="margin-right: 5px; background-color: aliceblue;"></ion-checkbox> -->
    <input class="custom-checkbox" style="margin-right: 5px; border: 6px solid #004d40;" type="checkbox" style="font-size: 22em;"/>
    <ion-label class="remember-label" style="font-size: medium; color: #004d40;">Remember Password</ion-label>
    <ion-label class="forget-label" style="font-size: medium; margin-left:30px; color: #004d40;" slot="end">Forget Password</ion-label>
  </div>
<ion-button expand="full">Login</ion-button>

<div class="divider"></div>

  <div class="social-media-container">
    <ion-label class="social-media-label" color="medium">Continue with Social Media</ion-label>
    <ul>
    <li><ion-icon name="logo-facebook" class="social-media-icon" style="color: #4267B2;"></ion-icon></li>
    <li> <ion-icon name="logo-google" class="social-media-icon" style="color: #DB4437;"></ion-icon></li>
    <li><ion-icon name="logo-twitter" class="social-media-icon" style="color: #1DA1F2;"></ion-icon></li>
  </ul>
  </div>
</ion-content>

