<ion-content >
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <ion-icon class="main-logo" id="car-logo" name="car-outline"></ion-icon>
      <b>Car Rental</b>
    </div>
    <h2><b class="login-logo">Login</b></h2>
    <div class="ion-padding login-page" >
    <div class="input-item" style="margin-bottom: 10px;">
      <ion-label position="floating" style="color: #004d40;">Email</ion-label>
      <ion-input type="text" style="height: 20px;"></ion-input>
      <ion-icon name="mail-outline"></ion-icon>
    </div>
    <div class="input-item" >
        <ion-label position="floating" style="color: #004d40;">Password</ion-label>
        <ion-input type="password"></ion-input>
    </div>
    </div>
  
    <div>
    <!-- <ion-checkbox slot="start" style="margin-right: 5px; background-color: aliceblue;"></ion-checkbox> -->
    <input class="custom-checkbox" style="margin-right: 5px; border: 6px solid #004d40;" type="checkbox" style="font-size: 22em;"/>
    <ion-label class="remember-label" style="color: #004d40;">Remember Password</ion-label>
    <ion-label class="forget-label" style="margin-left:40px; color: #004d40;" slot="end">Forget Password</ion-label>
  </div>
</div>
<ion-button expand="full">Login</ion-button>

<div class="divider"></div>

  <div class="social-media-container">
    <ion-label class="social-media-label" color="medium">Continue with Social Media</ion-label>
    <ul>
    <li><ion-icon name="logo-facebook" class="social-media-icon" style="color: #4267B2;"></ion-icon></li>
    <li> <ion-icon name="logo-google" class="social-media-icon" style="color: #DB4437;"></ion-icon></li>
    <li><ion-icon name="logo-twitter" class="social-media-icon" style="color: #1DA1F2;"></ion-icon></li>
  </ul>
  </div>
</ion-content>

